--extra-index-url https://download.pytorch.org/whl/cu124
pandas==2.3.3
numpy==2.4.0
scikit-learn==1.8.0
torch==2.6.0+cu124
torchtuples==0.2.2
matplotlib==3.10.8
pyyaml==6.0.3
jupyterlab==4.5.1
lifelines==0.30.3
seaborn==0.13.2
